<!-- <label for="rol" class="agregarAl">Rol</label>
<select
  name="rol"
  id="rol"
  [ngModel]="selectedItem"
  (ngModelChange)="onChange($event)"
>
  <option *ngFor="let rol of rolesArray" [value]="rol">{{ rol }}</option>
</select> -->

<div>
  <mat-form-field appearance="fill">
    <mat-label>Rol</mat-label>
    <mat-select
      name="rol"
      id="rol"
      [ngModel]="selectedItem"
      (ngModelChange)="onChange($event)"
    >
      <mat-option *ngFor="let rol of rolesArray" [value]="rol">
        {{ rol }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
