<main class="menu">
  <div class="agregar">
    <label class="agregarAl" for="">Nombre</label>
    <input type="text" #nombre class="inp" />
    <br />
    <label for="" class="agregarAl">Apellido</label>
    <input type="text" #apellido1 class="inp" />
    <br />
    <label for="" class="agregarAl">Segundo Apellido</label>
    <input type="text" #apellido2 class="inp" />
    <br />
    <button
      (click)="crearAlumno(nombre.value, apellido1.value, apellido2.value)"
    >
      CREAR
    </button>
  </div>
  <h2>Alumnos</h2>
  <div class="alumnos">
    <ul>
      <li *ngFor="let a of alumnosArray" class="alumno">
        <p class="nombre">{{ a.data.nombre }} {{ a.data.apellido1 }}</p>

        <span (click)="eliminar(a.id)" class="material-icons"> delete </span>
      </li>
    </ul>
  </div>

  <button class="salir" (click)="salir()">Salir</button>
</main>
