<mat-card>
  <main class="menu">
    <div class="campos">
      <div class="agregar">
        <label class="agregarAl" for="">Nombre</label>
        <input type="text" #nombre class="inp" />
      </div>
      <div class="agregar">
        <br />
        <label for="" class="agregarAl">Apellido</label>
        <input type="text" #apellido1 class="inp" />
      </div>
      <br />
      <div class="agregar">
        <label for="" class="agregarAl">Segundo Apellido</label>
        <input type="text" #apellido2 class="inp" />
      </div>
      <div class="agregar">
        <label for="" class="agregarAl">Telefono</label>
        <input type="number" class="inp" #tel />
      </div>
      <div class="agregar">
        <label for="" class="agregarAl">DNI</label>
        <input type="text" class="inp" #dni />
      </div>
      <div class="agregar">
        <label for="" class="agregarAl">MAIL</label>
        <input type="mail" class="inp" #email />
      </div>
      <br />
      <div class="agregar">
        <!-- rol viene del componente hijo, escucha el dato que se modifica en el hijo -->
        <app-listado-rol (rol)="rolDefinido($event)"></app-listado-rol>
      </div>
      <div>
        <app-jornadas (jornada)="jornadasDefinidas($event)"></app-jornadas>
      </div>
      <button
        (click)="
          crearAlumno(
            nombre.value,
            apellido1.value,
            apellido2.value,
            tel.value,
            dni.value,
            email.value
          )
        "
      >
        CREAR
      </button>
    </div>

    <button class="salir" (click)="salir()">Salir</button>
  </main>
</mat-card>
