.centrar {
  margin: 5% auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
.success {
  color: green;
}
.error {
  color: red;
}
/* sacar simbolo de number en input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
