<div>
  <label for="">Alumnos</label>
  <input type="text" #nombre />
  <br />
  <label for="">apellido</label>
  <input type="text" #apellido1 />
  <br />
  <label for="">Segundo Apellido</label>
  <input type="text" #apellido2 />
  <button (click)="crearAlumno(nombre.value, apellido1.value, apellido2.value)">
    CREAR
  </button>
</div>

<div *ngFor="let a of alumnosArray">
  <p>{{ a.data.nombre }} {{ a.data.apellido1 }}</p>
  <button (click)="eliminar(a.id)">ELIMINAR</button>
</div>

<button (click)="salir()">Salir</button>
