<!-- <div class="alumnos">
  <ul>
   CAMBIE ALUMNOS ARRAY POR ALUMNOS ARRAY FILTRADO 
    datapipe 
    <li *ngFor="let a of alumnosArrayFiltrado" class="alumno">
      <p class="nombre">
        {{ a?.data?.nombre }} - {{ a?.data?.rol }} -
        {{ a?.data?.date?.toDate() | date: "shortDate" }}
      </p>

      <span (click)="eliminar(a.id)" class="material-icons"> delete </span>
    </li>
  </ul>
</div> -->
<!-- <table> -->
<!-- <table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="nombre">Nombre</th>
    <th mat-sort-header="rol">Rol</th>
    <th mat-sort-header="dia">Dia</th>
    <th mat-sort-header="dni">DNI</th>
    <th mat-sort-header="tel">Telefono</th>
  </tr>

  <tr *ngFor="let a of alumnosArrayFiltrado" class="alumno">
    <td class="nombre">{{ a?.data?.nombre }}</td>
    <td>{{ a?.data?.rol }}</td>
    <td>{{ a?.data?.date?.toDate() | date: "shortDate" }}</td>
    <td>{{ a?.data?.dni }}</td>
    <td>{{ a?.data?.tel }}</td>
    <span (click)="eliminar(a.id)" class="material-icons"> delete </span>
  </tr>
</table> -->

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="sortData($event)"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="nombre">Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.data.nombre }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="rol">Rol</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="material-icons">
        {{ element.data.rol | iconoRol }}
      </mat-icon>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="tel">Tel</th>
    <td mat-cell *matCellDef="let element">{{ element.data.tel }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="dni">DNI</th>
    <td mat-cell *matCellDef="let element">{{ element.data.dni }}</td>
  </ng-container>

  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="eliminar">
      Eliminar
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="eliminar(element.id)" class="material-icons">
        delete
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
