<!-- <div class="alumnos">
  <ul>
   CAMBIE ALUMNOS ARRAY POR ALUMNOS ARRAY FILTRADO 
    datapipe 
    <li *ngFor="let a of alumnosArrayFiltrado" class="alumno">
      <p class="nombre">
        {{ a?.data?.nombre }} - {{ a?.data?.rol }} -
        {{ a?.data?.date?.toDate() | date: "shortDate" }}
      </p>

      <span (click)="eliminar(a.id)" class="material-icons"> delete </span>
    </li>
  </ul>
</div> -->
<table>
  <!-- <table matSort (matSortChange)="sortData($event)"> -->
  <tr>
    <th mat-sort-header="name">Nombre</th>
    <th mat-sort-header="calories">Rol</th>
    <th mat-sort-header="fat">Dia</th>
    <th mat-sort-header="carbs">DNI</th>
  </tr>

  <tr *ngFor="let a of alumnosArrayFiltrado" class="alumno">
    <td class="nombre">{{ a?.data?.nombre }}</td>
    <td>{{ a?.data?.rol }}</td>
    <td>{{ a?.data?.date?.toDate() | date: "shortDate" }}</td>
    <td>{{ a?.data?.dni }}</td>
    <span (click)="eliminar(a.id)" class="material-icons"> delete </span>
  </tr>
</table>
